<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      {% if user.is_authenticated %}
        Bienvenido {{ user.username }}
      {% else %}
        INGICAT S.A.S
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="/" class="nav-link" title="Ir a la Pantalla de Inicio">Home</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'cliente_dashboard' %}" class="nav-link" title="Ir al Resumen de la Gestión Documental">Avances</a>
        </li>

        {% if user.is_authenticated %}
          <!-- Menú desplegable de Trámites -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="tramitesDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" title="Trámites">
              Trámites
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="tramitesDropdown">
              <li><a class="dropdown-item" href="{% url 'predio_completed' %}" title="Completados">Completados</a></li>
              <li><a class="dropdown-item" href="{% url 'predios' %}" title="Gestión Documental en Proceso">Trámites</a></li>
              <li><a class="dropdown-item" href="{% url 'create_predio' %}" title="Nuevo Trámite">Crear Trámite</a></li>
            </ul>
          </li>

          {% if user.is_superuser %}
            <!-- Opciones para superusuarios -->
            <li class="nav-item">
              <a href="{% url 'signup' %}" class="nav-link" title="Registrar un Nuevo Usuario">Registrar</a>
            </li>
            <li class="nav-item">
              <a href="/admin/" class="nav-link" title="Panel de Administración">Admin</a>
            </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="/logout" title="Cerrar Sesión">Salir</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a href="/signin" class="nav-link" title="Iniciar Sesión">Ingresar</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
