{% extends 'base.html' %} 
{% block content %}
<style>
  .container {
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr;
    grid-template-rows: 1fr 1.4fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Titulos Titulos Titulos"
      "descripcion Contenido Contenido"
      "descripcion Contenido Contenido";
  }

  .Titulos {
    grid-area: Titulos;
    background-color: #b02d1c; 
    padding: 1rem;  
    border-radius: 0.5rem;
    color: white;
    text-align: center;
  }

  .descripcion {
    grid-area: descripcion;
    background-color: #c47132; 
    padding: 1rem;
    border-radius: 0.5rem;
  }

  .Contenido {
    grid-area: Contenido;
    background-color: #d6f4fc; 
    padding: 1rem;
    border-radius: 0.5rem;
  }
</style>

<main class="container card-body mt-5 border background bg text-center">
  <div class="Titulos border text-center">
    <h4 class="text-center">Ingicat S.A.S</h4>
    <h4 class="text-center">Proyecto de Gestión de Información Catastral <b>SIICA</b></h4>
  </div>

  <div class="descripcion border text-center">
    <p>
 
    </p>
  </div>

  <div class="Contenido border text-center">
    <div class="text-center">
      <p>
      Poryecto de gestión de información catastral para la empresa Ingicat S.A.S,
      desarrollado por el equipo de trabajo de la Universidad Distrital Francisco Jose de Caldas,
      sede de ingeniería, en el marco de la modalidad de trabajo de grado para <b>Ingeniería Catastral y Geodesia</b>.
           </p>

      {% if user.is_authenticated %}
        <a class="btn btn-primary" href="/predios/" title="Empezar Gestión">Empezar</a> 
      {% else %} 
        <a class="btn btn-primary" href="/signin/"  title="Iniciar Sesión">Iniciar Sesión</a> 
        {% if user.is_superuser %}
          <a class="btn btn-primary" href="/signup/" title="Registrar Nuevo Usuario">Registrar</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}
