{% extends 'base.html' %}
{% block content %}

<main class="container card card-body mt-5">
  {% if mensaje %}
  <div class="alert alert-warning">{{ mensaje }}</div>
  {% endif %}
  <div class="row">
    <h1>Listado de Trámites</h1>
    <div class="col-md-12 border-bottom mb-4 border-primary position-sticky top-0 bg-white z-index-10">
      <p>En esta sección se muestran los trámites de predios registrados en el sistema. Puedes filtrar por importancia,
        código SIG y fechas.</p>
      <!-- Formulario de Filtros -->
      <form method="GET" class="mb-5">
        <div class="row g-4">
          <div class="col-md-2">
            <label for="importancia" class="form-label">Importancia</label>
            <select name="importancia" class="form-select">
              <option value="">Todos</option>
              <option value="importante" {% if importancia == "importante" %}selected{% endif %}>Prioridad</option>
              <option value="normal" {% if importancia == "normal" %}selected{% endif %}>Normal</option>
            </select>
          </div>
          <div class="col-md-2">
            <label for="cod_sig" class="form-label">Código SIG</label>
            <input type="text" name="cod_sig" class="form-control" value="{{ request.GET.cod_sig }}">
          </div>
          <div class="col-md-2">
            <label for="fecha_inicio" class="form-label">Fecha Solicitud</label>
            <input type="date" name="fecha_inicio" class="form-control" value="{{ request.GET.fecha_inicio }}">
          </div>
          <div class="col-md-2">
            <label for="fecha_fin" class="form-label">Fecha Fin</label>
            <input type="date" name="fecha_fin" class="form-control" value="{{ request.GET.fecha_fin }}">
          </div>
          <div class="col-md-2 d-flex align-items-end">
            <button type="submit" class="btn btn-primary">Filtrar</button>
            <a href="{% url 'predios' %}" class="btn btn-secondary ms-2">Restablecer</a>
          </div>
        </div>
      </form>
      <form method="post" action="{% url 'descargar_excel' %}" class="mt-4 mb-5">
        {% csrf_token %}
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">
            Descargar informe de Excel
          </button>
        </div>
      </form>
    </div>
    <!-- Tabla Responsiva -->
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover" style="max-height: 2fr; overflow-y: auto;">
        <thead class="table-primary align-items-center text-center">
          <tr>
            <th>Id</th>
            <th>Proyecto</th>
            <th>Fecha Solicitud</th>
            <th>Gerencia</th>
            <th>Código SIG</th>
            <th>Entidad</th>
            <th>Prioridad</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          {% for predio in predios %}
          <tr {% if predio.es_importante %} class="table-danger" {% endif %}>
            <td><a href="{% url 'predio_detail' predio.id %}">{{ predio.id }}</a></td>
            <td>{{ predio.proyecto }}</td>
            <td>{{ predio.fecha_solicitud }}</td>
            <td>{{ predio.gerencia }}</td>
            <td>{{ predio.cod_sig }}</td>
            <td>{{ predio.entidad }}</td>
            <td>
              {% if predio.es_importante %}
              <span class="badge bg-danger">¡Prioridad!</span>
              {% else %}
              <span class="badge bg-success">Normal</span>
              {% endif %}
            </td>
            <td>
              <a href="{% url 'predio_detail' predio.id %}" class="btn btn-info btn-sm">Ver</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


    </div>
</main>

{% endblock %}