{% extends 'base.html' %}
{% block content %}

<main class="container">
  <div class="row">
    <h1>Editar Predio</h1>

    <section class="col-md-6 offset-md-3">
      <!-- Formulario de actualización -->
      <form method="POST" class="card card-body mt-4">
        <h3>Actualizar Información</h3>
        {% csrf_token %}

        {% for field in predio_form %}
        <div class="mb-3">
          <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
          {{ field }}
        </div>
        {% endfor %}

        <button class="btn btn-primary mt-3">Actualizar</button>
      </form>
      <div class="card card-body text-center">
        <div class="d-flex justify-content-center gap-2 mt-3">
          <!-- Botón para completar predio -->
          <form action="{% url 'complete_predio' predio.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-success">Completar</button>
          </form>

          <!-- Botón para eliminar predio -->
          <form action="{% url 'delete_predio' predio.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger">Eliminar</button>
          </form>
        </div>
      </div>
    </section>
  </div>
</main>

{% endblock %}