{% extends 'base.html' %}

{% block content %}

<main class="container">
  <div class="row">
    <section class="col-md-4">
      <form>
        {{form}}
      </form>
      <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
      
        <button>
          Update
        </button>
      </form>
      
      <form action="{% url 'complete_task' task.id %}" method="POST">
        {% csrf_token %}
        <button>
          complete
        </button>
      </form>
      
      <form action="{% url 'delete_task' task.id %}" method="POST">
        {% csrf_token %}
        <button>
          delete
        </button>
      </form>
    </section>
  </div>
</main>
{% endblock %}